.register__link {
text-align: center;
  display: block;
  color: #DFCF77;
  text-decoration: none;
  position: relative;
  padding-bottom: 15px;
  -webkit-transition: font-weight;
  transition: font-weight; }