.movie-card {
  min-height: 250px;
  position: relative;
  z-index: 1;
  color: #eee5b5;

  background: #e1b0b2;
}

.movie-card--full {
  z-index: 0;
}
.movie-card__translate-top {
  margin-top: 0;
  position: relative;
  z-index: 0;
}

.movie-card__nav {
  position: absolute;
  left: 500px;
  z-index: 5;
  height: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
